*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax {
    position: relative;
    height: 100%;
}

.parallax__montain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax__montain_1 {
    background: url('images/ppp.jpg') 0 0 / cover no-repeat;
}

.parallax__montain_2 {
    z-index: 1;
    background: url('images/m_2.png') bottom right / 45% no-repeat;
}

.parallax__montain_3 {
    z-index: 1;
    background: url('images/m_3.png') left bottom / 100% no-repeat;
}

.parallax__fog {
    background: url('images/fog_1.png') bottom / 100% no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.contentt {
    position: relative;
    z-index: 999;
}

.content__body {
    max-width: 1170px;
    margin: 0px auto;
}

.content__header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.content__title {
    font-size: 200px;
}

.content__subtitle {
    font-size: 120px;
}

.content__article {
    background: RGBA(0, 0, 0, 0.25);
    font-size: 18px;
    line-height: 24px;
    margin-top: 1100px;
    z-index: 99;
    height: 1300px;
}

.parallax__fog {
    z-index: 0;
}

.content__article p {
    margin-bottom: 20px;
}

.container-body {
    max-width: 1000px;
    margin: 0px auto;
}

.hero {
    padding-top: 160px;
    display: flex;
    justify-content: space-around;
}

.hero-text {
    text-align: left;
    color: #ccc;
    max-width: 50%;
}

.hero-text h1 {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lexend', sans-serif;
}

.hero-text p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-img img {
    width: 200px;
    height: 200px;
}

.block {
    padding-top: 300px;
}

.block-content {
    display: flex;
    justify-content: space-around;
}

.block-inner span {
    padding-top: 15px;
}

.block-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    max-width: 300px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -19px -6px 6px -20px;
    transition: .5s;
}

.block-inner:hover {
    transform: translateY(-10px);
}

.block-inner p {
    padding: 20px 6px;
}

.block-btn {
    padding: 10px 15px;
    border: 1px white solid;
    color: #ccc;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: .5s;
}

.block-btn:hover {
    border: 1px #bbb solid;
}

.block .block-img {
    padding-top: 30px;
    width: 70px;
}

.footer {
    position: relative;
    color: white;
    padding-top: 315px;
    padding-bottom: 100vh;

}

.footer-text {
    display: flex;
    justify-content: center;
    position: relative;

}

.footer-text small {
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 8px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #00F3EB;
}

.btn {
    position: relative;
    padding: 10px 20px;
    color: white;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

a {
    text-decoration: none;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: white;
    transition-delay: .5s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: #000;
    transition-delay: .35s;
}

.from-center:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid #000;
    border-left: 0;
    border-right: 0;
}

.from-center:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #000;
}

.from-center:hover:before {
    left: 0;
    width: 100%;
}

.from-center:hover:after {
    top: 0;
    height: 100%;
}

@media screen and (min-width: 620px) {
    button {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .parallax__montain_1 {
        background-image: url(images/Screenshot_2.png);
        background-size: cover;
        position: fixed;
    }
    .parallax__montain_2 {
        z-index: 1;
        background: url('images/m_2.png') bottom right / 60% no-repeat;
    }
    .parallax__montain_3 {
        z-index: 1;
        background: url('images/m_3.png') left bottom / 150% no-repeat;
    }
    .parallax__fog {
        background: url('images/fog_1.png') bottom / 300% no-repeat;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .content__body {
        max-width: 450px;
    }
    .hero {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hero-img img {
        width: 150px;
        height: 150px;
    }
    .btn {
        padding: 10px 10px;
    }
    .hero-text h1 {
        font-size: 25px;
    }
    .btn:hover {
        color: black;
    }
    .btn:hover:after {
        background: aqua;
    }
    .from-center:before {
        top: 0;
        left: 50%;
        height: 100%;
        width: 0;
        border: 1px solid aqua;
        border-left: 0;
        border-right: 0;
    }
    .from-center:after {
        background: aqua;
    }
    /*                slider                     */
    .SLider button {
        background: transparent;
        display: block;
        position: absolute;
        top: 70%;
        left: 0;
        z-index: 2;
        border: none;
        outline: none;
        cursor: pointer;
        transition: .3s;
    }
    .SLider button.prev {
        left: 35px;
    }
    .SLider button.next {
        left: auto;
        right: 35px;
    }
    .slides {
        position: absolute;
        opacity: 0;
        transition: .3s;
    }
    .sliders {
        transition: .5s;
    }
    .sliders:hover {
        transform: translateY(-10px);
        background: red;
    }
    .block-inner:hover {
        transform: translateY(0px);
    }
    .sliders .slides.active {
        opacity: 1;
    }
    .fas {
        padding: 5px;
        font-size: 20px;
    }
    .footer {
        display: flex;
        justify-content: center;
        transform: translateY(430px);
        color: white;
        padding-top: 0px;
        height: 0vh;
    }
    .content__article {
        background: RGBA(0, 0, 0, 0.25);
        font-size: 18px;
        line-height: 24px;
        margin-top: 1100px;
        z-index: 99;
        height: 1250px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 470px) {
        .btn {
    padding: 10px 10px;
}
    .SLider button {
            top: 78%;
    }
    .SLider button.prev {
    left: -7px;
}
    .SLider button.next {
    left: auto;
    right: -7px;
}
    .footer {
    display: flex;
    justify-content: center;
    transform: translateY(388px);
    color: white;
    padding-top: 0px;
    height: 108vh;
}
    .hero-img img {
    display: none;
}
    .hero-text {
    text-align: left;
    color: #ccc;
    max-width: 100%;
        padding: 10px;
}
    .content__article {
    height: 1160px;
}

}
